<!DOCTYPE HTML>
<html>
<head>
	<meta http-equiv="content-type" content="text/html" />
	<meta name="author" content="astray.cn" />
	
	<title>活动介绍</title>
    <script src="/public/js/jquery.js"></script>
    <script src="/public/js/back.js"></script>
    
</head>

<body>
<include file="./Application/Home/View/header.html"/>
<h2 align="center">XX活动详细介绍</h2>
<br/>
<br/>
<p align="center">吧啦吧啦吧啦吧啦吧啦吧啦吧啦吧啦吧啦吧啦吧啦吧啦吧啦吧啦......</p>

<br/><br/>
<div style="position:fixed; bottom:30px; left:50%;">
<button><a href="__URL__/signInOut">报名</a></button>
&nbsp;&nbsp;&nbsp;
<button onClick="back()">返回</button>
</div>

</body>
</html>